#card-selection{
    float: left;
    text-align: left;
    padding: 0% 0% 0% 0%;
}

#card-selection{
    text-align: right;
}

#group-buttons{
    width:100%;
}

#startBTN{
    width: 33.34%;
    border: 1px solid black;
    text-align: center;
}

#nextBTN{
    width: 33.34%;
    border: 1px solid black;
    text-align: center;
}

#submitBTN{
    width: 33.39%;
    border: 1px solid black;
    text-align: center;
}

#basic-section {
    text-align: left;
}

#cloze-section {
    text-align: right;
}

.dialog-box{
    position:relative;
    z-index:1;
}

@media only screen and (max-width: 400px) {
    /* For mobile phones: */

#startBTN{
   font-size:10px;
}

#nextBTN{
   font-size:10px;
}

#submitBTN{
   font-size:10px;
}

}